<div id="page-content">
  <div class="container" id="home-container">
    <form>
      <div class="row mb-3">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username">
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>

<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Orstin O'Perri consulting", "https://orstinoperri.com/", class: "text-white" %></small>
  </div>
</footer>
