<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Navbar</a>
    <div class="d-flex">
      <button class="btn btn-outline-light" type="submit">Signup</button>
    </div>
  </div>
</nav>
