<nav class="navbar">
  <div class="container-fluid">
    <%= link_to "General Superintendent Book Distribution Platform", root_path, class: "navbar-brand", id: "logo" %>
    <div class="d-flex">
      <button class="btn btn-outline-light" type="submit">Signup</button>
    </div>
  </div>
</nav>
